
.nav-footer {
  text-align: center;
  margin-top: 20px;
}

.nav-footer span,
.nav-footer a {
  color: #000;
  margin: 0 4px;
}

.nav-footer span:after {
  content: "|";
  margin-left: 8px;
  line-height: 1;
}

.nav-footer span:first-of-type {
  margin: 0 4px 0 0;
}

.nav-footer span:last-of-type {
  margin: 0 0 0 4px;
}

.nav-footer span:last-child:after {
  content: '';
  margin-left: 0;
}

#copyright {
  color: grey;
}
