<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="nav.isCollapsed = !nav.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand"><img src="../assets/images/logo.png" style="width:40px; margin-top:-10px; margin-left: 10px;"> </a>
    </div>
    <div uib-collapse="nav.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in nav.menu" ng-show="!nav.isLoggedIn() && item.isVisibleByGuest || nav.isLoggedIn() && !nav.isAdmin() && item.isVisibleByUser || nav.isLoggedIn() && nav.isAdmin() && item.sref != 'contact'" ui-sref-active="active">
          <!-- Without submenu -->
          <a ui-sref="{{item.sref}}" ng-hide="item.hassubmenu"> {{item.title}} </a>

          <!-- With submenu -->
          <span uib-dropdown on-toggle="toggled(open)" ng-if="item.hassubmenu">
            <a href id="{{item.sref}}-dropdown" uib-dropdown-toggle>
              {{item.title}}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="{{item.sref}}-dropdown">
              <li ng-repeat="submenu in item.submenu">
                <a ui-sref="{{submenu.sref}}">{{submenu.title}}</a>
              </li>
            </ul>
          </span>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Inscription</a></li>
        <md-button class="md-raised md-primary" type="button" class="btn btn-success validation-button" ng-hide="nav.isLoggedIn()" ui-sref-active="active" ui-sref="login">Connexion</md-button>
        <li ng-show="nav.isLoggedIn()"><p class="navbar-text">Bonjour {{ nav.getCurrentUser().name }} !</p> </li>
        <li ng-show="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="nav.isLoggedIn()"><a ui-sref="logout">Déconnexion</a></li>
      </ul>
    </div>
  </div>
</div>
