<md-content class="md-padding" layout-xs="column" layout="row"  layout-wrap style="margin:0 auto;width: 950px;">
  <div flex="33" ng-repeat="item in MainController.menu">
      <md-card  style="height: 260px;">
        <img ng-src="{{item.picture}}" class="md-card-image">
        <md-card-title>
          <md-card-title-text>
            <!-- Without submenu -->
            <span ui-sref="{{item.sref}}" class="md-headline activator" ng-hide="item.hassubmenu"> {{item.title}} </span>

            <!-- With submenu -->
            <md-menu ng-if="item.hassubmenu">
              <span class="md-headline activator" ng-click="$mdOpenMenu($event)"> {{item.title}} </span>
              <md-menu-content width="6">
                <md-menu-item ng-repeat="sub in item.submenu">
                  <md-button ui-sref="{{sub.sref}}">
                    {{sub.title}}
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>

          </md-card-title-text>
        </md-card-title>
      </md-card>
  </div>
</md-content>
