#about-background {
    background-color:white;
}

#contact-text {
    text-align: right;
}

#contact-title {
    padding-top: 5%;
    text-align: right; 
    letter-spacing: 1.2px; 
    font-family:'Century Gothic';
}

#contact-hr {
    margin-top:10%; 
    width: 40%;
}