<h1 class="md-headline form-title">Echelle de dépression d'anxiété et de stress (EDAS21)</h1>
<div layout="column" class="md-inline-form">
    <div class="md-padding">
        <div layout-wrap layout="row">
            <md-card flex="80" class="padding-card">

                <!-- Card 1/2 - Patient's identity -->
                <div ng-if="vm.cardNumber == 1">
                    <div>
                        <md-card-header>
                            <md-card-header-text>
                                <span class="md-title"> Identité du patient </span>
                                <span class="md-subhead">
                                    Veuillez lire chaque énoncé et indiquez celui qui correspond le mieux à votre expérience au cours de la dernière semaine.
                                    Il n'y a pas de bonne ou de mauvaise réponse.
                                    Ne vous attardez pas trop longuement sur les énoncés.
                                </span>
                            </md-card-header-text>
                        </md-card-header>
                        <div class="card-content">
                            <md-input-container>
                                <label>Nom</label>
                                <input required name="clientName" ng-model="vm.form.patientLastname">
                            </md-input-container>

                            <md-input-container>
                                <label>Prénom</label>
                                <input required name="clientName" ng-model="vm.form.patientFirstname">
                            </md-input-container>

                            <md-input-container>
                                <label>Naissance</label>
                                <md-datepicker required ng-model="vm.form.birthdayDate" name="birthdayDate"></md-datepicker>
                            </md-input-container>
                        </div>
                    </div>
                </div>
                <!-- End Card 1/2 -->

                <!-- Card 2/2 - Patient's depression  -->
                <div ng-if="vm.cardNumber == 2">
                    <md-card-header>
                        <md-card-header-text>
                            <span class="md-title"> Questionnaire </span>
                        </md-card-header-text>
                    </md-card-header>

                    <div class="card-content">
                        <div class="card-title"> </div>
                        <div layout="row">
                            <div flex="40"></div>
                            <div layout="row" flex="80">
                                <div flex class="table-column" ng-repeat="answer in vm.inputsGroup"> {{ answer.label }}</div>
                            </div>
                        </div>
                        <div layout="row" class="table-input">
                            <div flex="40" class="form-question">
                                <p>J'ai trouvé difficile de décompresser</p>
                            </div>
                            <md-radio-group layout="row" flex="80" ng-model="vm.form.decompressProblem">
                                <div flex class="table-radio-button" ng-repeat="answer in vm.inputsGroup">
                                    <md-radio-button class="md-primary" value="{{ answer.value }}"></md-radio-button>
                                </div>
                            </md-radio-group>
                        </div>
                        <div layout="row" class="table-input">
                            <div flex="40" class="form-question">
                                <p>J'ai été conscient(e) d'avoir la bouche sèche</p>
                            </div>
                            <md-radio-group layout="row" flex="80" ng-model="vm.form.mouthProblem">
                                <div flex class="table-radio-button" ng-repeat="answer in vm.inputsGroup">
                                    <md-radio-button class="md-primary" value="{{ answer.value }}"></md-radio-button>
                                </div>
                            </md-radio-group>
                        </div>
                        <div layout="row" class="table-input">
                            <div flex="40" class="form-question">
                                <p>J'ai eu l'impression de ne pas pouvoir ressentir d'émotion positive</p>
                            </div>
                            <md-radio-group layout="row" flex="80" ng-model="vm.form.noPositiveMood">
                                <div flex class="table-radio-button" ng-repeat="answer in vm.inputsGroup">
                                    <md-radio-button class="md-primary" value="{{ answer.value }}"></md-radio-button>
                                </div>
                            </md-radio-group>
                        </div>
                        <div layout="row" class="table-input">
                            <div flex="40" class="form-question">
                                <p>J'ai eu de la difficulté à respirer (par exemple, respirations excessivement rapides,
                                    essoufflement sans effort physique)</p>
                            </div>
                            <md-radio-group layout="row" flex="80" ng-model="vm.form.hardBreath">
                                <div flex class="table-radio-button" ng-repeat="answer in vm.inputsGroup">
                                    <md-radio-button class="md-primary" value="{{ answer.value }}"></md-radio-button>
                                </div>
                            </md-radio-group>
                        </div>
                        <div layout="row" class="table-input">
                            <div flex="40" class="form-question">
                                <p>J'ai eu de la difficulté à initier de nouvelles activités</p>
                            </div>
                            <md-radio-group layout="row" flex="80" ng-model="vm.form.hardNewActivities">
                                <div flex class="table-radio-button" ng-repeat="answer in vm.inputsGroup">
                                    <md-radio-button class="md-primary" value="{{ answer.value }}"></md-radio-button>
                                </div>
                            </md-radio-group>
                        </div>
                        <div layout="row" class="table-input">
                            <div flex="40" class="form-question">
                                <p>J'ai eu tendance à réagir de façon exagérée</p>
                            </div>
                            <md-radio-group layout="row" flex="80" ng-model="vm.form.reactExaggeratedly">
                                <div flex class="table-radio-button" ng-repeat="answer in vm.inputsGroup">
                                    <md-radio-button class="md-primary" value="{{ answer.value }}"></md-radio-button>
                                </div>
                            </md-radio-group>
                        </div>
                        <div layout="row" class="table-input">
                            <div flex="40" class="form-question">
                                <p>J'ai eu des tremblements (par exemple, des mains)</p>
                            </div>
                            <md-radio-group layout="row" flex="80" ng-model="vm.form.tremblingProblem">
                                <div flex class="table-radio-button" ng-repeat="answer in vm.inputsGroup">
                                    <md-radio-button class="md-primary" value="{{ answer.value }}"></md-radio-button>
                                </div>
                            </md-radio-group>
                        </div>
                        <div layout="row" class="table-input">
                            <div flex="40" class="form-question">
                                <p>J'ai eu l'impression de dépenser beaucoup d'énergie nerveuse</p>
                            </div>
                            <md-radio-group layout="row" flex="80" ng-model="vm.form.spendBadEnergy">
                                <div flex class="table-radio-button" ng-repeat="answer in vm.inputsGroup">
                                    <md-radio-button class="md-primary" value="{{ answer.value }}"></md-radio-button>
                                </div>
                            </md-radio-group>
                        </div>
                        <div layout="row" class="table-input">
                            <div flex="40" class="form-question">
                                <p>Je me suis inquiété(e) en pensant à des situations où je pourrais paniquer et faire de
                                    moi un(e) idiot(e)</p>
                            </div>
                            <md-radio-group layout="row" flex="80" ng-model="vm.form.situationsWorry">
                                <div flex class="table-radio-button" ng-repeat="answer in vm.inputsGroup">
                                    <md-radio-button class="md-primary" value="{{ answer.value }}"></md-radio-button>
                                </div>
                            </md-radio-group>
                        </div>
                        <div layout="row" class="table-input">
                            <div flex="40" class="form-question">
                                <p>J'ai eu le sentiment de ne rien envisager avec plaisir</p>
                            </div>
                            <md-radio-group layout="row" flex="80" ng-model="vm.form.noPleasure">
                                <div flex class="table-radio-button" ng-repeat="answer in vm.inputsGroup">
                                    <md-radio-button class="md-primary" value="{{ answer.value }}"></md-radio-button>
                                </div>
                            </md-radio-group>
                        </div>

                    </div>
                </div>
              <!-- End Card 2/3 -->

              <!-- Card 3/3 - Patient's depression  -->
              <div ng-if="vm.cardNumber == 3">
                <md-card-header>
                  <md-card-header-text>
                    <span class="md-title"> Questionnaire </span>
                  </md-card-header-text>
                </md-card-header>

                <div class="card-content">
                  <div class="card-title"> </div>
                  <div layout="row">
                    <div flex="40"></div>
                    <div layout="row" flex="80">
                      <div flex class="table-column" ng-repeat="answer in vm.inputsGroup"> {{ answer.label }}</div>
                    </div>
                  </div>

                        <div layout="row" class="table-input">
                            <div flex="40" class="form-question">
                                <p>Je me suis aperçu(e) que je devenais agité(e)</p>
                            </div>
                            <md-radio-group layout="row" flex="80" ng-model="vm.form.beAgitated">
                                <div flex class="table-radio-button" ng-repeat="answer in vm.inputsGroup">
                                    <md-radio-button class="md-primary" value="{{ answer.value }}"></md-radio-button>
                                </div>
                            </md-radio-group>
                        </div>
                        <div layout="row" class="table-input">
                            <div flex="40" class="form-question">
                                <p>J'ai eu de la difficulté à me détendre</p>
                            </div>
                            <md-radio-group layout="row" flex="80" ng-model="vm.form.loosenProblem">
                                <div flex class="table-radio-button" ng-repeat="answer in vm.inputsGroup">
                                    <md-radio-button class="md-primary" value="{{ answer.value }}"></md-radio-button>
                                </div>
                            </md-radio-group>
                        </div>
                        <div layout="row" class="table-input">
                            <div flex="40" class="form-question">
                                <p>Je me suis senti(e) triste et déprimé(e)</p>
                            </div>
                            <md-radio-group layout="row" flex="80" ng-model="vm.form.beSad">
                                <div flex class="table-radio-button" ng-repeat="answer in vm.inputsGroup">
                                    <md-radio-button class="md-primary" value="{{ answer.value }}"></md-radio-button>
                                </div>
                            </md-radio-group>
                        </div>
                        <div layout="row" class="table-input">
                            <div flex="40" class="form-question">
                                <p>Je me suis aperçu(e) que je devenais impatient(e) lorsque j'étais retardé(e) de quelque
                                    façon que ce soit (par exemple, dans les ascenseurs, aux feux de circulation...)</p>
                            </div>
                            <md-radio-group layout="row" flex="80" ng-model="vm.form.beLate">
                                <div flex class="table-radio-button" ng-repeat="answer in vm.inputsGroup">
                                    <md-radio-button class="md-primary" value="{{ answer.value }}"></md-radio-button>
                                </div>
                            </md-radio-group>
                        </div>
                        <div layout="row" class="table-input">
                            <div flex="40" class="form-question">
                                <p> J'ai eu le sentiment d'être presque pris(e) de panique</p>
                            </div>
                            <md-radio-group layout="row" flex="80" ng-model="vm.form.bePanicked">
                                <div flex class="table-radio-button" ng-repeat="answer in vm.inputsGroup">
                                    <md-radio-button class="md-primary" value="{{ answer.value }}"></md-radio-button>
                                </div>
                            </md-radio-group>
                        </div>
                        <div layout="row" class="table-input">
                            <div flex="40" class="form-question">
                                <p> J'ai été incapable de me sentir enthousiaste au sujet de quoi que ce soit</p>
                            </div>
                            <md-radio-group layout="row" flex="80" ng-model="vm.form.beEnthusiastic">
                                <div flex class="table-radio-button" ng-repeat="answer in vm.inputsGroup">
                                    <md-radio-button class="md-primary" value="{{ answer.value }}"></md-radio-button>
                                </div>
                            </md-radio-group>
                        </div>
                        <div layout="row" class="table-input">
                            <div flex="40" class="form-question">
                                <p>J'ai eu le sentiment de ne pas valoir grand chose comme personne</p>
                            </div>
                            <md-radio-group layout="row" flex="80" ng-model="vm.form.beNothing">
                                <div flex class="table-radio-button" ng-repeat="answer in vm.inputsGroup">
                                    <md-radio-button class="md-primary" value="{{ answer.value }}"></md-radio-button>
                                </div>
                            </md-radio-group>
                        </div>
                        <div layout="row" class="table-input">
                            <div flex="40" class="form-question">
                                <p>Je me suis aperçu(e) que j’étais très irritable</p>
                            </div>
                            <md-radio-group layout="row" flex="80" ng-model="vm.form.beIrritable">
                                <div flex class="table-radio-button" ng-repeat="answer in vm.inputsGroup">
                                    <md-radio-button class="md-primary" value="{{ answer.value }}"></md-radio-button>
                                </div>
                            </md-radio-group>
                        </div>
                        <div layout="row" class="table-input">
                            <div flex="40" class="form-question">
                                <p>J’ai été conscient(e) des palpitations de mon coeur en l’absence d’effort physique (sensation
                                    d’augmentation de mon rythme cardiaque ou l’impression que mon cœur venait de sauter)</p>
                            </div>
                            <md-radio-group layout="row" flex="80" ng-model="vm.form.heartPalpitations">
                                <div flex class="table-radio-button" ng-repeat="answer in vm.inputsGroup">
                                    <md-radio-button class="md-primary" value="{{ answer.value }}"></md-radio-button>
                                </div>
                            </md-radio-group>
                        </div>
                        <div layout="row" class="table-input">
                            <div flex="40" class="form-question">
                                <p>J’ai eu peur sans bonne raison</p>
                            </div>
                            <md-radio-group layout="row" flex="80" ng-model="vm.form.beScared">
                                <div flex class="table-radio-button" ng-repeat="answer in vm.inputsGroup">
                                    <md-radio-button class="md-primary" value="{{ answer.value }}"></md-radio-button>
                                </div>
                            </md-radio-group>
                        </div>
                        <div layout="row" class="table-input">
                            <div flex="40" class="form-question">
                                <p>J’ai eu l’impression que la vie n’avait pas de sens</p>
                            </div>
                            <md-radio-group layout="row" flex="80" ng-model="vm.form.lifeNoSense">
                                <div flex class="table-radio-button" ng-repeat="answer in vm.inputsGroup">
                                    <md-radio-button class="md-primary" value="{{ answer.value }}"></md-radio-button>
                                </div>
                            </md-radio-group>
                        </div>
                    </div>
                </div>
                <!-- End Card 2/2 -->

                <div layout="row" layout-align="start center">
                    <md-progress-linear flex md-mode="determinate" value="{{(vm.cardNumber/3)*100}}"></md-progress-linear>
                    <p flex="20" class="card-pagination">Page {{ vm.cardNumber }} sur 3</p>

                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="vm.setPreviousCardNumber()" ng-if="vm.cardNumber > 1">Précédent</md-button>
                        <md-button ng-click="vm.setNextCardNumber()" ng-if="vm.cardNumber < 3">Suivant</md-button>
                        <md-button ng-click="vm.openPdf()" ng-if="vm.cardNumber == 3"> Voir PDF </md-button>
                    </md-card-actions>
                </div>
            </md-card>
        </div>
    </div>
</div>
