<div layout="column" class="md-inline-form" flex="50" style="margin: 0 auto; vertical-align: middle; margin-top: 2%;">
  <md-toolbar>
    <h2 class="md-toolbar-tools">{{ 'Demande d\'inscription' | uppercase }}</h2>
  </md-toolbar>

  <form class="form" name="form" ng-submit="vm.register(form)" novalidate>

    <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
      <div style="width: 500px">
        <md-input-container class="form-group" ng-class="{ 'has-success': form.confirmPassword.$valid && vm.submitted,
                                            'has-error': form.confirmPassword.$invalid && vm.submitted }">
          <label>Nom</label>
          <input type="text" name="name" class="form-control" ng-model="vm.user.name"
                 required/>
          <p class="help-block" ng-show="form.name.$error.required && vm.submitted">
            A name is required
          </p>
        </md-input-container>

        <md-input-container class="md-block form-group" ng-class="{ 'has-success': form.password.$valid && vm.submitted,
                                            'has-error': form.password.$invalid && vm.submitted }">
          <label>Mot de passe</label>
          <input type="password" name="password" class="form-control" ng-model="vm.user.password"
                 ng-minlength="3"
                 required
                 mongoose-error/>
          <p class="help-block"
             ng-show="(form.password.$error.minlength || form.password.$error.required) && vm.submitted">
            Password must be at least 3 characters.
          </p>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ vm.errors.password }}
          </p>
        </md-input-container>
        <md-input-container class="form-group md-block" ng-class="{ 'has-success': form.confirmPassword.$valid && vm.submitted,
                                            'has-error': form.confirmPassword.$invalid && vm.submitted }">
          <label>Confirmer le mot de passe</label>
          <input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword"
                 match="vm.user.password"
                 ng-minlength="3" required/>
          <p class="help-block"
             ng-show="form.confirmPassword.$error.match && vm.submitted">
            Passwords must match.
          </p>
        </md-input-container>
      </div>
    </md-content>

    <md-content layout-padding>
      <div>
        <form name="userForm">
          <div layout-gt-xs="row">
            <md-input-container class="md-block form-group" ng-class="{ 'has-success': form.email.$valid && vm.submitted,
                                            'has-error': form.email.$invalid && vm.submitted }" flex-gt-sm>
              <label>Adresse e-mail</label>
              <input type="email" name="email" class="form-control" ng-model="vm.user.email"
                     required
                     mongoose-error/>
              <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
                Doesn't look like a valid email.
              </p>
              <p class="help-block" ng-show="form.email.$error.required && vm.submitted">
                What's your email address?
              </p>
              <p class="help-block" ng-show="form.email.$error.mongoose">
                {{ vm.errors.email }}
              </p>
            </md-input-container>

            <md-input-container>
              <label>Naissance</label>
              <md-datepicker ng-model="vm.user.birth"></md-datepicker>
            </md-input-container>
          </div>

          <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Ville</label>
              <input type="text" name="location" class="form-control" ng-model="vm.user.location"/>
            </md-input-container>

            <md-input-container>
              <label>Sexe</label>
              <md-select ng-model="vm.user.gender">
                <md-option value="female"> Femme</md-option>
                <md-option value="male"> Homme </md-option>
              </md-select>
            </md-input-container>
          </div>
          <section layout="row" layout-sm="column" layout-align="center center" layout-wrap style="margin: 15px;">
            <md-button type="submit" class="md-warn md-raised md-hue-2">Inscription</md-button>
          </section>
        </form>
      </div>
    </md-content>
  </form>
</div>
