#why-background {
    background-color:white;
}

#why-title {
    margin: 20px; 
    text-align: left; 
    letter-spacing: 1.2px; 
    font-family:'Century Gothic';
}

#why-text {
    text-align:left; 
    margin: 20px;
}

#why-second-text {
    background-color:#eee; 
    margin-top:20px; 
    padding:30px;
    text-align:center;
}