<div layout="column" class="md-inline-form" flex="40" id="support-form" ng-if="vm.isLoggedIn() && vm.isAdmin()">
  <form class="form" name="supportForm" ng-submit="vm.sendMailToSupport(supportForm)" novalidate>
    <md-toolbar style="width: 450px; margin: 0 auto;">
      <h2 class="md-toolbar-tools">{{ 'support' | uppercase }}</h2>
    </md-toolbar>
    <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding style="width: 450px; margin: 0 auto">
      <div style="width: 400px">
        <md-input-container class="md-block">
          <label>Sujet</label>
          <input ng-model="vm.subject" type="subject">
        </md-input-container>

        <md-input-container class="md-block">
          <label>Message</label>
          <textarea ng-model="vm.message" md-maxlength="500" rows="5" md-select-on-focus></textarea>
        </md-input-container>
      </div>
    </md-content>
    <section layout="row" layout-sm="column" layout-align="center center" id="support-button" layout-wrap>
      <md-button type="submit" class="md-raised md-primary">Envoyer</md-button>
    </section>
  </form>
</div>

<pre class="alert alert-danger" ng-if="!vm.isLoggedIn() || !vm.isAdmin()">Seuls les administrateurs sont autorisés à accéder au contenu de cette page.</pre>


