body {
  //background-image: url("../assets/images/form-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #eee;
}

.card-content {
  margin-bottom: 20px;
}

.table-input:nth-child(even) {
  background-color: #fafafa;
}

.table-input:nth-child(odd) {
  background-color: #eeeeee;
}

.table-radio-button {
  text-align: center;
}

.table-column {
  text-align: center;
}

.form-question {
  text-align: center;
}

.padding-card {
  margin: 0 auto;
  padding: 30px;
}

.form-title {
  text-align: center;
}

.card-pagination {
  padding-left: 15px;
}

.isi-table {
  margin-left: 25px;
}